body {
    padding: 0;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: wheat;
  }
#home{
    border: 2px transparent;
    border-radius: 8px;
    box-shadow: 2px 2px 1px 2px grey;
}
.lead{
    font-family: cursive;
    font-size: 1.5rem;
}